.header{
    background-color:rgb(177, 177, 255);
    height:90px;
   color:rgb(255, 255, 255);
}
.header-logo h1{
    float:left;
    font-size: 36px;
    padding-right: 40px;
    padding-left:10px;
}
ul{
    list-style:none;
}
.header-list li{
    float:right;
    padding:33px 20px;
    font-size:20px;
}
.main {
    background-color:rgb(255, 255, 255);
    height:550px;
    color:black;
}
.main h3{
     border-bottom:2px solid gray;
     padding-left:60px;
}
.main strong{
    padding-left:300px;
    font-size:40px;
    color:red;
   
}

.footer{
    background-color:rgb(152, 221, 106);
    height:150px;
    color:white;
}
img{
    
   padding-left:20px;
    padding-top:20px;
   
}
.footer li{
    padding-top:25px;
    font-size:60px;
    float:left;
}
span{
    color:rgb(69, 238, 201);
    font-size:50px;
}
